<!DOCTYPE html>
<html>
    <head>
        <title>DH creations</title>
    </head>
    
    <body>
        <header>
            <h2>DH creations</h2>
        </header>
        
        <div id='blurb'>
            <section>
                <p>Traditional and Digital Art, Web Development, Prose</p>
            </section>
        </div>
        {% for post in posts %}
           <div>
               <p>published: {{ post.published_date }}</p>
               <h1><a href="">{{ post.title }}</a></h1>
               <p>{{ post.text|linebreaksbr }}</p>
               
           </div> 
        {% endfor %}
        <footer>
            <p>2017 DH creations</p>
        </footer>
    </body>
    
</html>