<!DOCTYPE html>
<html>
    <head>
        <title>DH creations</title>
    </head>
    
    <body>
        <header>
            <h2>DH creations</h2>
        </header>
        
        <div id='blurb'>
            <section>
                <p>Traditional and Digital Art, Web Development, Prose</p>
            </section>
        </div>
        
        #gallery goes here
        <div>
            
        </div>
        
        #prose and posts here
        <div>
            
        </div>
        
        <footer>
            <p>2017 DH creations</p>
        </footer>
    </body>
    
</html>